{% extends "classroom/base.html"%}
{% load static from staticfiles %}

{% block title %}Contact{% endblock %}
{% block content %}
<div class="container container-border">
<div class="row">
	<div class="span3">
		<img src="{% static "img/mrlu.jpg" %}" class="img-polaroid" />
	</div>
	<div class="span9">
	<p>Hello, welcome to Mr. Lu’s math class website. My name is Christopher Lu, I was born and raised in San Jose, California. I attended UCSC for 5 years for my degree in Mathematics. Shortly after, I received my Masters in Education from UCSC for their teaching credential program, but wanted to come back to my home in San Jose. I have been in the classroom for a little over 4 years ranging from studying classrooms, teaching lessons to becoming a full-time educator. I strive to bring out all the potential for all my students not only when it comes to mathematics but also social skills, community building and self-respect. I hope all my students can take away something (preferably many things) from my classes that they can value, cherish and utilize to their advantage in their future on their path to become upstanding citizens.</p>
	<p>I’d like to leave y’all with a quote that I strongly believe in and definitely incorporate into my teaching style from one of my favorite authors, Shel Silverstein.</p>
	<blockquote class="pull-right">
	<p><em>Listen to the mustn'ts, child. Listen to the don'ts. Listen to the shouldn'ts, the impossibles, the won'ts. Listen to the never haves, then listen close to me... Anything can happen, child. Anything can be.</em></p>
	</blockquote>
	<p>Take Care and Best Wishes,</p>
	<p>- Chris (Mr. Lu)</p>
	<p class="pull-right">Have questions? Concerns? Please feel free to email me at <a href="mailto:Christopher_Lu@sjusd.org">Christopher_Lu@sjusd.org</a></p>
	</div>
</div>
		
		
</div>
{% endblock%}