{% extends "classroom/base.html"%}
{% block title %}Mr Lu's Math Site{% endblock %}
{% block content %}
{% load static from staticfiles %}
<div class="container">
	<div class="carousel slide">
		<div class="carousel-inner">
		    <div class="item active">
		      <img src="{% static "img/engaging.jpg" %}"/>
	      	</div>
	      	<div class="item">
		      <img src="{% static "img/dedication.jpg" %}"/>
	      	</div>
	      	<div class="item">
		      <img src="{% static "img/perseverance.jpg" %}"/>
	      	</div>
      	</div>
	</div>
	<div class="row">
		<div class="span12">
			<p class="welcome-message">
				Welcome students! Please be sure to check back here daily to stay updated with assignments, announcements, and test dates.
			<p>
		</div>
	</div>
</div>
{% endblock %}
{% block js-end %}
<script>
$('.carousel').carousel()
</script>
{% endblock %}